# PyPI token
.pypitoken

# Build
build/
dist/
*.egg-info/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
.eggs/

# Env
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
